<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contactos</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
    <script th:src="@{/js/form.js}"></script>
</head>
<body>
<h1>Mensajes</h1>
<button id="btnLoad" onclick="loadContactos()">Cargar</button>
<table id="tablaContactos">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Número</th>
        <th>Mensaje</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>
</body>
</html>

