body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #222;
    color: #fff;
    padding: 1.5em 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    font-family: 'Arial Black', sans-serif;
}

h1{
    text-align: center;
}

header .menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 1em 0 0;
}

header .menu li {
    margin: 0 1.5em;
}

header .menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

header .menu a:hover {
    color: #ff6600;
}

.hero {
    text-align: center;
    margin: 2em 0;
    padding: 2em;
    background-color: #ffebcc;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.hero h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.hero .btn {
    display: inline-block;
    margin-top: 1em;
    padding: 0.7em 2em;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s;
}

.hero .btn:hover {
    background-color: #e65500;
}

.destacados {
    margin: 2em 0;
    text-align: center;
}

.destacados h2 {
    font-size: 1.8em;
    margin-bottom: 1em;
}

.productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
}

.producto {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1em;
    margin: 20;
    max-width: 300px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.producto:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.producto img {
    max-width: 100%;
    border-radius: 10px;
}

.producto h3 {
    margin: 0.5em 0;
    font-size: 1.2em;
}

.producto p {
    font-size: 1em;
    color: #555;
}

.contenedor
{
    margin:0;
    display: flex;
    list-style: none;
    background: darkslategray;
    padding: 0;
}

.contenedor li{
    flex: 1 1 0;
}

.contenedor a{
  display: flex;
  font: 18px sans-serif;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 18px;
  color: white;
  user-select: none;
}

.contenedor li{
    flex: 1 1 0;
}

.contenedor li:hover {
    background: linear-gradient(45deg, darkslategray, slategray, teal);
}


cta {
    border: none;
    background: none;
    cursor: pointer;

  }

  .cta span {
    width: 30;

    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
  }

  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }

  .cta:hover svg {
    transform: translateX(0);
  }

  .cta:active svg {
    transform: scale(0.9);
  }

  .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
  }

  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


p{
    margin: 5px;
    font-size: 12px;
    text-align: center;
}
h4{
    text-align: center;
    color: red;
}


footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 1.5em 0;
    margin-top: 2em;
    font-size: 0.9em;
}

.form-container {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 5px;
    margin-right: 10px;
    font-weight: bold;
}

input, textarea {
    padding: 8px;
    margin-top: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button {
    margin-top: 15px;
    padding: 20px;
    background-color: darkcyan;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: darkslategray;
}

.btn-volver {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF; /* Color azul */
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    align-items: center;
}

.btn-volver:hover {
    background-color: #0056b3; /* Azul más oscuro */
    transform: scale(1.05);
}

/* Sección de información */
.info-section {
    background-color: #f8f9fa; /* Color de fondo suave */
    padding: 50px 0;
    text-align: center;
}

.info-section .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.info-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.info-section .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.info-section img {
    width: 300px; /* Tamaño de la imagen */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.info-section p {
    font-size: 1.2em;
    max-width: 600px;
    color: #555;
    text-align: left;
}



.tallaje-section {
    background-color: #ffffff;
    padding: 50px 0;
    text-align: center;
}

.tallaje-section .container {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

.tallaje-section h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.tallaje-section p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #555;
}

/* Tabla de tallaje */
.tallaje-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tallaje-table th, .tallaje-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.tallaje-table th {
    background-color:darkcyan;
    color: white;
    font-size: 1.2em;
}

.tallaje-table tr:nth-child(2n+1) {
    background-color: #eee;
}

.tallaje-table tr:hover {
    background-color: gainsboro;
}

/* Responsivo */
@media (max-width: 768px) {
    .grid-layout {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .grid-layout img {
        margin: 0 auto;
    }
}


/* CONTENEDOR PRINCIPAL DEL FORMULARIO */
.form-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* TÍTULO "CONTÁCTANOS" */
.form-container h3 {
  margin-top: 0;
  font-size: 1.6em;
  margin-bottom: 20px;
  text-align: center;
}

/* GRID PARA LABELS Y CAMPOS */
.form-container form {
  display: grid;
  grid-template-columns: 100px 1fr;
  column-gap: 15px;
  row-gap: 15px;
  align-items: center;
}

.form-container label {
  text-align: right;
  font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="tel"],
.form-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* BOTÓN DE ENVÍO */
.form-container input[type="submit"] {
  grid-column: 1 / 3;
  justify-self: center;
  background-color: #ff6600;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.form-container input[type="submit"]:hover {
  background-color: #e65500;
}

/* BLOQUE DE ERRORES */
.form-container .errores-form {
  grid-column: 1 / 3;
  color: red;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* MENSAJE DE ÉXITO */
.form-container .exito-form {
  grid-column: 1 / 3;
  margin-top: 10px;
  text-align: center;
  color: green;
  font-weight: bold;
}
